<div class="container-fluid pt-5 rune-container">
  <nav class="mt-5">
    <div class="nav nav-tabs rune-tabs mb-5" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active" id="nav-precision" data-toggle="tab" href="#precision" role="tab">
        <div class="rune">
          <img src="./assets/img/precision.png">
          <span class="rune-border">
            <img src="./assets/img/precision-aura.png">
          </span>
        </div>
        <p class="m-0 mt-4">Chính xác</p>
      </a>

      <a class="nav-item nav-link" id="nav-domination" data-toggle="tab" href="#domination" role="tab">
        <div class="rune">
          <img src="./assets/img/domination.png">
          <span class="rune-border">
            <img src="./assets/img/domination-aura.png">
          </span>
        </div>
        <p class="m-0 mt-4">Áp đảo</p>
      </a>

      <a class="nav-item nav-link" id="nav-sorcery" data-toggle="tab" href="#sorcery" role="tab">
        <div class="rune">
          <img src="./assets/img/sorcery.png">
          <span class="rune-border">
            <img src="./assets/img/sorcery-aura.png">
          </span>
        </div>
        <p class="m-0 mt-4">Pháp thuật</p>
      </a>

      <a class="nav-item nav-link" id="nav-resolve" data-toggle="tab" href="#resolve" role="tab">
        <div class="rune">
          <img src="./assets/img/resolve.png">
          <span class="rune-border">
            <img src="./assets/img/resolve-aura.png">
          </span>
        </div>
        <p class="m-0 mt-4">Kiên định</p>
      </a>

      <a class="nav-item nav-link" id="nav-inspiration" data-toggle="tab" href="#inspiration" role="tab">
        <div class="rune">
          <img src="./assets/img/inspiration.png">
          <span class="rune-border">
            <img src="./assets/img/inspiration-aura.png">
          </span>
        </div>
        <p class="m-0 mt-4">Cảm hứng</p>
      </a>
    </div>
  </nav>

  <div class="tab-content rune-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="precision">

      <div class="row no-gutters py-5 detail">
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/p1.png" alt="">
          <p>Sẵn sàng tấn công</p>
        </div>
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/p2.png" alt="">
          <p>Nhịp độ chết người</p>
        </div>
        <div class="col-12 text-center pt-4">
          <img src="./assets/img/p3.png" alt="">
          <p>Bước chân thần tốc</p>
        </div>
      </div>

    </div>

    <div class="tab-pane fade show" id="domination">

      <div class="row no-gutters py-5 detail">
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/d1.png" alt="">
          <p>Sốc điẹn</p>
        </div>
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/d2.png" alt="">
          <p>Thú săn mồi</p>
        </div>
        <div class="col-12 text-center pt-4">
          <img src="./assets/img/d3.png" alt="">
          <p>Thu thập hác ám</p>
        </div>
      </div>

    </div>

    <div class="tab-pane fade show" id="sorcery">
      <div class="row no-gutters py-5 detail">
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/c1.png" alt="">
          <p>Triệu hồi Arie</p>
        </div>
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/c2.png" alt="">
          <p>Thiên thạch bí ẩn</p>
        </div>
        <div class="col-12 text-center pt-4">
          <img src="./assets/img/c3.png" alt="">
          <p>Tăng tốc pha</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="resolve">
      <div class="row no-gutters py-5 detail">
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/r1.png" alt="">
          <p>Quyền năng bất diệt</p>
        </div>
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/r2.png" alt="">
          <p>Dư chấn</p>
        </div>
        <div class="col-12 text-center pt-4">
          <img src="./assets/img/r3.png" alt="">
          <p>Hộ vệ</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="inspiration">
      <div class="row no-gutters py-5 detail">
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/i1.png" alt="">
          <p>Sách phép</p>
        </div>
        <div class="col-6 text-center pt-4">
          <img src="./assets/img/i2.png" alt="">
          <p>Nâng cấp băng giá</p>
        </div>
        <div class="col-12 text-center pt-4">
          <img src="./assets/img/i3.png" alt="">
          <p>Đạo tặc</p>
        </div>
      </div>
    </div>

  </div>

</div>
