.detail-container{
  padding-top: 100px!important;
  background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, .7), rgba(#000, .7), rgba(#000, .7), rgba(#000, .7))
}

.box{
  width: 100%;
  background: rgba(#04120f, .9);
  border: 1px solid #937341;
  margin-bottom: 10px;
}

.champion-stats{
  width: 100%;
  tr{
    td{
      padding: 8px 10px;
      width: 50%;
      color: #fff;
      img{
        width: 24px;
        vertical-align: bottom;
      }
      span{
        height: auto;
        vertical-align: baseline;
        &.highlight{
          width: auto;
          font-weight: bold;
          color: #cdbe7f;
          margin: 0 10px;
        }
      }
      p{
        display: inline-block;
        margin-bottom: 0;
        font-size: 16px;
      }
    }
    &:nth-child(even){
      td:first-child{
        background: rgba(#fff, .1);
      }
    }
    &:nth-child(odd){
      td:last-child{
        background: rgba(#fff, .1);
      }
    }
    &:first-child{
      td{
        &:first-child{
          span{
            background-position: 106px 32px;
          }
        }
        &:last-child{
          span{
            background-position: 106px 32px;
          }
        }
      }
    }
    &:nth-child(2){
      td{
        &:first-child{
          span{
            background-position: 34px 34px;
          }
        }
        &:last-child{
          span{
            background-position: 34px 34px;
          }
        }
      }
    }
    &:nth-child(3){
      td{
        &:first-child{
          span{
            background-position: 106px -2px;
          }
        }
        &:last-child{
          span{
            background-position: 106px -2px;
          }
        }
      }
    }
    &:nth-child(4){
      td{
        &:first-child{
          span{
            background-position: 32px -2px;
          }
        }
        &:last-child{
          span{
            background-position: 32px -2px;
          }
        }
      }
    }
  }
}

.header{
  height: 90vh;
  padding-top: 400px;
  h1{
    font-size: 100px;
    color: #937341;
    text-transform: uppercase;
    font-weight: bold;
    padding: relative;
  }
  img{
    width: 100%;
    display: block;

  }
}

.title{
  font-size: 24px;
  color: #937341;
}

.blockquote{
  p{
    color: #cdbe7f;
    text-align: justify;
  }
  cite{
    color: #937341;
    font-size: 20px;
  }
}

.icon-border{
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  &:before{
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid #937341;
    transform: rotate(45deg);
    left: calc(100% + 44px);
    top: calc(50% - 3px);
  }
  &:after{
    position: absolute;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid #937341;
    transform: rotate(45deg);
    right: calc(100% + 44px);
    top: calc(50% - 3px);
  }
  .highlight-left{
    position: absolute;
    display: block;
    width: 500px;
    height: 2px;
    right: calc(100% + 50px);
    top: calc(50% - 1px);
    transform: rotateY(180deg);
  }
  .highlight-right{
    position: absolute;
    display: block;
    width: 500px;
    height: 2px;
    left: calc(100% + 50px);
    top: calc(50% - 1px);
  }
  .section-header{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    .champion-icon{
      width: 110px;
      height: 110px;
      margin: -5px 0 0 -5px;
    }
  }
  .frame{
    position: absolute;
    display: block;
    width: 130px;
    height: 130px;
    top: -15px;
    left: -15px
  }
}

.role-container{
  p{
    color: #fff;
    text-transform: uppercase;
    margin: 10px auto;
    font-size: 12px;
  }
}

.role{
  font-size: 20px!important;
  color: #937341!important;
  padding: 0 auto!important;
}

.role-img{
  img{
    height: 80px;
    width: 80px;
  }
}

.role-info{
  width: calc(100% - 80px);
  display: inline-block;
}

.info-container{
  transition: all .3s ease;
  background: #fff;
  font-size: 16px;
  span{
    font-weight: bold;
    color: #000000;
  }
  p{
    color: #424242;
  }
  &:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;

  }
}

.detail-loading-img{
  width: 100%;
  position: relative;
  border-radius: 5px
}

.detail-name{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  left: 0;
  bottom:15px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  font-size: 20px;
}

.detail{
  background: rgba(#111, .85);
  height: 100%;
  border-radius: 5px;
  border: 1px solid #111;
  margin-bottom: 10px!important;
  h3{
    background: rgba(#111, .95);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    border-bottom: 1px solid rgba(#999, .5);
  }
  p{
    color: #fff;
    margin-bottom: 0;
  }
}

.loading-screen{
  margin-bottom: 10px!important;
}


#carouselExampleIndicators{
  height: calc(100vh - 64px);
  margin: auto;
}

.champ-lore{
  background: rgba(#000, .5);
  margin: 20px auto!important;
  border-radius: 5px;
  h2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #fff;
    background: rgba(#000, .7);
    color: #fff;
  }
  h4{
    color: #fff;
  }
  p{
    color: #fff;
  }
}

.champ-info{
  span{
    font-weight: bold;
    color: #fff;
  }
  p{
    color: #939393;
  }
}

.carousel-control-prev:hover{
  background:linear-gradient(to right, rgba(#000,.7), rgba(#000, 0));
}
.carousel-control-next:hover{
  background:linear-gradient(to left, rgba(#000,.7), rgba(#000, 0));
}

.use{
  p{
    color: #fff;
    text-transform: uppercase;
    margin: 10px auto;
    font-size: 12px;
  }
  .use-type{
    font-size: 20px;
    color: #937341;
  }
}

.champion-spell{
  color: #fff;
  padding-bottom: 0!important;
}

.detail-id{
  visibility: hidden;
  position: absolute;
  display: block;
  top: -300px;
  left: -300px;
}

.passive-spell-name{
  color: #937341;
  font-weight: bold;
  position: relative;
  /* &:after{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    content: 'Nội tại';
    color: #4542d9;
    font-size: 14px;
  } */
}

.passive-spell-desc{
  color: #cdbe7f;
}

.spell-name{
  color: #937341;
  font-weight: bold;
}

.passive-spell-icon{
  img{
    width: 100%;
  }
}

.spell-icon{
  width: 100%;
}

.spells{
  border-top: 1px solid #cdbe7f;
  display: flex;
  /* padding-top: 10px; */
}

.desc{
  color: #cdbe7f;
}

.resource{
  display: flex;
  vertical-align: bottom;
  color: #cdbe7f;
  img{
    height: 18px;
    padding-right: 10px;
  }
  p{
    margin-bottom: 0;
    padding-left: 10px;
    color: #fff;
  }
}

.tips{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 26px;
  color: #cdbe7f;
  text-transform: uppercase
}

.play-tip{
  h2{
    color: #cdbe7f;
    font-size: 34px;
  }
  p{
    color: #fff;
    font-size: 18px;
  }
}

.tip{
  .icon-border{
    &:before{
      left: calc(100% + 64px);
    }
    &:after{
      right: calc(100% + 64px);
    }
    .highlight-left{
      right: calc(100% + 70px);
    }
    .highlight-right{
      left: calc(100% + 70px);
    }
  }
}

.skin-name{
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
